=form_with model: @tasks,url: tasklist_task_path,local: true do |form|
  -if @tasks.errors.any?
    -@tasks.errors.full_messages.each do |messages|
      %br
      = messages
  =form.label :name
  =form.text_field :name
  %br
  =form.label :body
  =form.text_field :body
  %br
  =form.label :status
  =form.check_box :status
  %br
  =form.submit