// Place all the styles related to the tasklist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';

.tasklistname:hover{
cursor: pointer;
#delete{
  visibility: visible
}

#update{
  visibility: visible;
}

}

#update, #taskUpdate
{
  visibility: hidden;
}

#delete, #taskDelete
{
  visibility: hidden;
}

.card-body:hover{
#taskDelete{
  visibility: visible;
}

#taskUpdate{
  visibility: visible;
}
}